.App {
    padding: 2%;
}

#main-heading {
    text-align: center;
}

input[type=text] {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #252144;
    color: #FFF;
    border: none;
}

input[type=submit] {
    background-color: #5045A4;
    color: #FFF;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin-top: 4%;
}

input[type=submit]:hover {
    cursor: pointer;
}

select {
    color: #000;
    margin: 2%;
    padding: 1%;
}

.weather-data {
    text-align: center;
    margin: 1.5%;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}

.temp {
    font-size: 2.5rem;
    font-weight: 300;
}

.comment {
    font-size: 1.5rem;
}

/* Forecast */

.forecast {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.forecast-box {
    min-width: 20%;
    margin: 1%;
    padding: 2%;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

.icon {
    display: inline-block;
}

#hum-and-air-disp {
    display: 'flex';
    align-items: 'center';
    flex-wrap: 'wrap';
}

@media screen and (max-width: 768px) {
    input[type=text] {
        width: 80%;
        margin-bottom: 10%;
    }

    .weather-data {
        margin: 5%;
    }

    .forecast-box {
        min-width: 50%;
    }
}